<html !DOCTYPE>
<head>
<title>SQLite</title>
</head>
<body>

<table border=1>
{% for row in rows %}
<tr>
    <th>IP</th>
    <th>Description</th>
    <th>Port</th>
</tr>
<form action="/delete/{{ row[0] }}" method="post">
<tr>
    <td>{{ row[0] }}</td>
    <td>{{ row[1] }}</td>
    <td>{{ row[2] }}</td>
    <td><input type="submit" value="Delete" /></td>
</tr>
</form>
{% endfor %}
</table>
<form action="/add" method="post">
    <LABEL FOR="one">SR No: </LABEL>
    <input type="text" id="one" name="one" value="" />
    <LABEL FOR="two">IP: </LABEL>
    <input type="text" id="two" name="two" value="" />
    <LABEL FOR="three">Description: </LABEL>
    <input type="text" id="three" name="three" value="" />
    <LABEL FOR="three">Port: </LABEL>
        <input type="text" id="four" name="three" value="" />
    <input type="submit" value="Add" />
</form>


<table border=1>
	{% for row in rows %}
	<tr>
		    <th>SR.NO</th>
		        <th>SecGroupID</th>
			    <th>Region</th>
	</tr>
	<form action="/delete/{{ row[0] }}" method="post">
		<tr>
			    <td>{{ row[0] }}</td>
			        <td>{{ row[1] }}</td>
				    <td>{{ row[2] }}</td>
				        <td><input type="submit" value="Delete" /></td>
		</tr>
	</form>
	{% endfor %}
</table>
<form action="/addSG" method="post">
	    <LABEL FOR="serialno">SR No: </LABEL>
	        <input type="text" id="serialno" name="serialno" value="" />
		    <LABEL FOR="sgid">SGID: </LABEL>
		        <input type="text" id="sgid" name="sgid" value="" />
			    <LABEL FOR="region">Region: </LABEL>
			        <input type="text" id="region" name="region" value="" />
				    
				    <input type="submit" value="Add" />
</form>
</body>
</html>
